* {
    box-sizing: border-box;
    /* Disables text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(255, 255, 255);
}

iframe#youtubevideo img {
    height: 100%;
}

img.maintitle {
    background-size: contain;
    height: 50%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    box-shadow: 6px -2px 46px;
}

h1.boardgamesearchtitle {
    font-family: Libre Franklin;
    position: absolute;
    top: 86px;
    right: 0;
    left: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    font-size: 4em;
    margin-top: -3%;
}

p.subtitle {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Dosis;
    font-weight: 600;
    margin-top: -5%;
}

li.boardgamemechanics {
    left: -39%;
}

.background {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

form#boardgamesearch {
    z-index: 100;
    width: 1000px;
}

section {
    border: 1px solid grey;
    padding: 2%;
    border-radius: 9px;
    background-color: rgb(37,152,204);
    margin-top: 2%;
}

form.search {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 20px;
}

input[type="text"] {
    width: 48%;
    height: 50px;
    font-size: 1.2em;
    font-weight: bolder;
    padding-left: 10px;
    margin-top: -3em;
    margin-bottom: 4em;
    background-color: rgba(64, 165, 95, 0.19);
    border: none;
    position: absolute;
    z-index: 900;
    top: 90%;
    color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.42);
}

input#boardgameterm:-webkit-autofill {
    background-color: #1c87ab;
}

input#boardgameterm:placeholder-shown {
    border: rgb(255, 255, 255) 3px solid;
    color: white;
}

input#boardgameterm::-webkit-input-placeholder {
    color: #ffffff;
}

input#boardgameterm::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
}

input#boardgameterm::-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
}

input#boardgameterm::-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
}

button#submitbutton {
    outline: none;
    height: 1.0em;
    width: 23%;
    height: 11%;
    margin-top: 3px;
    font-size: 1em;
    color: #ffffff;
    background-color: rgb(37,152,204);
    border: none;
    margin-left: 38px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 92%;
    z-index: 900;
}

p.searchinstructions {
    text-align: center;
    position: relative;
    top: 22px;
    font-family: Libre Franklin;
    font-size: 1.8em;
    font-weight: bold;
    color: #636161;
}

.playersandplaytime, .rankandyearpublished {
    font-family: Libre Franklin;
    display: inline-block;
    width: auto;
    position: relative;
    top: 10%;
    font-size: 1em;
    margin-left: 59px;
    padding: 0;
    margin: 0;
}

.boardgameimage {
    display: inline-block;
    width: 16%;
    position: relative;
    height: 166px;
    padding-top: 23px;
    z-index: 1;
    top: -2px;
    overflow: hidden;
    margin-top: -2%;
}

img.imagethumbnail {
    width: 100%;
    display: block;
    float: right;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
}

.boardgamemechanics {
    font-family: Alegreya Sans;
    display: inline-block;
    font-size: 1.2em;
    position: relative;
    top: 3px;
    height: 70%;
    margin-bottom: 3%;
    text-align: left;
}

ul {
    margin: 0;
    list-style-image: url("../images/boardgame_icon4.png");
}

h2.boardgamename {
    font-family: Lobster Two;
    display: inline-block;
    padding-left: 0.5em;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
    width: 70%;
    text-align: center;
}

article {
    border-radius: 2px;
    height: 151px;
    border-top: solid 1px grey;
    margin-bottom: 116px;
    margin-top: 56px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: rgba(235, 249, 255, 0.95);
    width: 90%;
    margin-left: 7%;
    text-align: center;
}

article:hover {
    filter: brightness(140%);
    transition-duration: 400ms;
    background-color: rgba(77, 185, 91, 0.74);
    top: 100px;
    cursor: pointer;
}

.even {
    float: left;
    box-shadow: -5px 6px 12px 2px rgba(47, 41, 41, 0.54);
}

.odd {
    float: right;
    box-shadow: 4px 7px 9px 2px rgba(47, 41, 41, 0.69);
    margin-right: -3px;
}

button#submitbutton:hover, button.backbutton:hover {
    transform: scale(1.05);
    filter: brightness(115%);
}

button#submitbutton:active, button.backbutton:active {
    filter: brightness(80%);
    box-shadow: 0 0px # 600;
    transform: translateY(1px);
}

.hidden {
    display: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.loadingcontainer {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    opacity: 0.8;
    background-color: rgba(250, 235, 215, 0.4);
}

img.loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px grey solid;
}

.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1100;
    overflow: scroll;
    text-align: center;
    background-color: rgba(255, 241, 132, 0.6);
}

img.imagethumbnailLB {
    position: relative;
    width: 25%;
    padding: 11px;
    display: inline-block;
    text-align: center;
}

h2.boardgamenameLB {
    text-align: center;
    margin-top: 15%;
    font-family: Lobster Two;
    font-size: 5em;
    border-top: 1px black solid;
}

.statsLB {
    margin-top: 3%;
    text-align: left;
    position: relative;
    margin-left: 40%;
    font-family: Libre Franklin;
    font-size: 1.5em;
}

.description {
    font-family: Libre Franklin;
    font-size: 1.2em;
}

ul.boardgameawards {
    font-family: Alegreya Sans;
    display: inline-block;
    font-size: 1.2em;
    position: relative;
    top: 3px;
    height: 70%;
    margin-bottom: 3%;
    text-align: left;
}

button.backbutton {
    outline: none;
    margin-bottom: 10%;
    height: 15%;
    width: 16%;
    color: white;
    background-color: rgb(37,152,204);
    font-family: Dosis;
    font-size: 1.6em;
    border: 1px solid darkgrey;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

section.hotlistcontainer {
    margin-top: 10%;
    background-color: rgba(255, 21, 53, 0.61);
}

div>.hotlistheader {
    text-align: center;
    font-family: Righteous;
    font-size: 3em;
}

img.errorimage {
    height: 24em;
    margin-bottom: 10%;
}

iframe#youtubevideo {
    height: 90%;
    width: 70%;
}

div#noresultserror {
    color: red;
    text-align: center;
    position: absolute;
    top: 70%;
    z-index: 1000;
    right: 0;
    font-size: 1.68em;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 2px black;
}


/*Media Queries*/

@media screen and (max-width: 750px) {
    p.subtitle {
        top: 80px;
        left: -160px
    }

    h1.boardgamesearchtitle {
        top: 70px;
        left: -40px
    }

    .boardgameimage {
        width: 150px;
        height: 170px;
        top: -5%;
    }

    img.imagethumbnail {
        height: 170px;
        width: 100%;
    }

    .playersandplaytime, .rankandyearpublished {
        top: 3%;
    }

    input[type="text"] {
        width: 70%;
        font-size: 1em;
    }

    button#submitbutton {
        width: 25%;
    }

    h2.boardgamenameLB {
        font-size: 3.3em;
    }

    .statsLB {
        font-size: 1em;
    }

    .description {
        font-size: .9em;
    }

    .boardgamemechanicsLB {
        font-size: 1em;
    }

    .boardgameawardsLB {
        font-size: .7em;
        margin-bottom: 5%
    }

    iframe {
        margin-bottom: 10%
    }
}

@media screen and (max-width: 650px) {
    p.subtitle {
        top: 60px;
        left: -70px;
        font-size: .7em;
    }

    h1.boardgamesearchtitle {
        font-size: 2.6em;
        top: 60px;
        left: -40px;
    }

    input[type="text"] {
        width: 70%;
        font-size: .8em;
    }

    button#submitbutton {
        width: 27%;
        font-size: .8em;
        top: 98%;
        height: 12%;
    }

    article {
        height: 154px;
    }

    .boardgameimage {
        width: 160px;
        height: 164px;
        top: 1%;
    }

    img.imagethumbnail {
        height: 100%;
        width: 98%;
    }

    .playersandplaytime, .rankandyearpublished {
        top: 6%;
        /* left: -18%; */
        font-size: .8em;
        line-height: .9em;
        width: 36%;
    }

    p.searchinstructions {
        font-size: 1.5em;
        top: 6px;
    }

    h2.boardgamename {
        width: 45%
    }

    div#noresultserror {
        height: 9%;
        font-size: 1.3em;
        margin-top: 3%;
    }

    div#noresultserror > p {
        margin-top: 6px;
    }
}

@media screen and (max-width: 550px) {
    h1.boardgamesearchtitle {
        font-size: 2.3em;
        top: 60px;
        left: -40px
    }

    input[type="text"] {
        width: 60%;
        font-size: .7em;
    }

    button#submitbutton {
        top: 102%;
    }

    p.searchinstructions {
        font-size: 1.2em;
        margin-bottom: 5%;
    }

    input#boardgameterm:placeholder-shown {
        border: 1px white solid;
        font-size: .8em;
    }

    h1.hotlistheader {
        font-size: 1.7em;
    }

    h2.boardgamename {
        font-size: 1em;
        top: -73%;
        left: 15%;
    }

    .playersandplaytime, .rankandyearpublished {
        font-size: .7em;
        top: -80%;
        margin-top: 3%;
        width: 38%;
        right: -1%;
    }

    article {
        height: 110px;
        margin-top: 203px;
    }

    .boardgameimage {
        width: 25%;
        height: 124px;
        top: -122%;
        left: -23%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    h2.boardgamenameLB {
        font-size: 2.9em;
    }

    .statsLB {
        font-size: .8em;
    }

    .description {
        font-size: .7em;
    }

    .boardgamemechanicsLB {
        font-size: .8em;
    }

    .boardgameawardsLB {
        font-size: .6em;
        margin-bottom: 5%
    }

    iframe {
        margin-bottom: 10%
    }

    div#noresultserror {
        height: 9%;
        font-size: 1.3em;
        margin-top: 3%;
    }

    div#noresultserror > p {
        margin-top: 6px;
    }
}

@media screen and (max-width: 450px) {
    h1.boardgamesearchtitle {
        font-size: 2.0em;
        top: 55px;
        left: -40px
    }

    p.subtitle {
        font-size: .5em;
    }

    input#boardgameterm:placeholder-shown {
        border: 1px white solid;
        font-size: .7em;
    }

    button#submitbutton {
        width: 28%;
        height: 17%;
        font-size: .6em;
    }

    p.searchinstructions {
        font-size: 1.1em;
        margin-bottom: 8%;
    }

    article{
        height: 120px
    }

    .playersandplaytime, .rankandyearpublished {
        font-size: .7em;
        top: -77%;
        width: 57%;
        margin-top: 5%;
        left: -2%;
    }

    .boardgameimage {
        left: -23%;
        top: -109%;
        width: 38%;
    }

    h2.boardgamename {
        top: -59%;
        font-size: .9em;
    }

    h2.boardgamenameLB {
        font-size: 2.5em;
    }

    .statsLB {
        font-size: .6em;
    }

    .description {
        font-size: .5em;
    }

    .boardgamemechanicsLB {
        font-size: .6em;
    }

    .boardgameawardsLB {
        font-size: .4em;
        margin-bottom: 5%
    }

    iframe {
        margin-bottom: 10%
    }

    div#noresultserror {
        height: 6%;
        font-size: .7em;
        margin-top: 2%;
    }

    div#noresultserror > p {
        margin-top: 2px;
    }
}

@media screen and (max-width: 350px)
              and (min) {
    h1.boardgamesearchtitle {
        font-size: 1.4em;
        top: 35px;
        left: -40px
    }

    p.subtitle {
        font-size: .4em;
        top: 14%;
        left: -16%;
    }

    input#boardgameterm:placeholder-shown {
        border: 1px white solid;
        font-size: .5em;
    }

    button#submitbutton {
        width: 37%;
        height: 24%;
        top: 117%;
    }

    p.searchinstructions {
        font-size: .8em;
    }

    h2.boardgamename {
        font-size: .3em;
    }

    .boardgameimage {
        width: 90px;
        height: 120px;
        top: -20%;
    }

    img.imagethumbnail {
        height: 114px;
        width: 98%;
    }

    article {
        height: 90px;
    }

    h2.boardgamename {
        font-size: .5em;
        top: -5%;
        width: 45%
    }

    .playersandplaytime, .rankandyearpublished {
        font-size: .35em;
        top: -22px;
        width: 50%;
        left: -30%;
        padding-left: 56px;
    }

    h2.boardgamenameLB {
        font-size: 2.1em;
    }

    .statsLB {
        font-size: .4em;
    }

    .description {
        font-size: .4em;
    }

    .boardgamemechanicsLB {
        font-size: .4em;
    }

    .boardgameawardsLB {
        font-size: .3em;
        margin-bottom: 5%
    }

    iframe {
        margin-bottom: 10%
    }

}

@media only screen and (min-device-width: 412px) and (max-device-width: 732px) {
    input#boardgameterm {
        top: 63%;
    }

    button#submitbutton {
        top: 77%;
        height: 5%;
    }

    iframe#youtubevideo {
        height: 170px;
        margin-bottom: 300px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    input#boardgameterm {
        top: 23%;
    }

    button#submitbutton {
        top: 27%;
        height: 5%;
    }

    button.backbutton {
        position: relative;
        margin-bottom: 0;
        margin-top: 25px;
        width: 23%;
        height: 10%
    }

    iframe {
        height: 50px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    input#boardgameterm {
        top: 23%;
    }

    button#submitbutton {
        top: 27%;
        height: 5%;
    }

    button.backbutton {
        position: relative;
        margin-bottom: 0;
        margin-top: 25px;
        width: 23%;
        height: 10%
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    input#boardgameterm {
        top: 33%;
    }

    button#submitbutton {
        top: 37%;
        height: 5%;
    }

    button.backbutton {
        position: relative;
        margin-bottom: 0;
        margin-top: 25px;
        width: 23%;
        height: 10%;
    }

    iframe#youtubevideo {
        height: 370px;
        margin-bottom: 200px;
    }
}

@media only screen and (max-device-width: 568px) and (min-device-width: 320px) {
    button.backbutton {
        position: relative;
        margin-bottom: 0;
        margin-top: 25px;
        width: 23%;
        height: 10%;
    }

    iframe#youtubevideo {
        height: 270px;
    }

    input#boardgameterm {
        top: 23%;
    }

    button#submitbutton {
        top: 27%;
        height: 5%;
    }
}
