* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

body {
    background-color: rgba(1, 222, 127, 0.31);
}

section {
    border: 1px solid grey;
    padding: 2%;
    border-radius: 9px;
    background-color: rgba(129, 255, 204, 0.19);
}

form.search {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 20px;
}

input[type="text"] {
    width: 30%;
    height: 30px;
    font-size: 10px;
    margin-left: 33%;
    padding-left: 10px;
    margin-top: 3em;
    margin-bottom: 4em;
    background-color: #d7fff2;
    border: none;
}

button#submitbutton {
    outline: none;
    height: 1.0em;
    width: 17%;
    height: 26px;
    margin-top: 0px;
    font-size: small;
    color: #106960;
    background-color: #d0e4f5;
    border: none;
}

.playersandplaytime {
  font-family: Alegreya Sans;
    display: inline-block;
    width: 28%;
    /* position: relative; */
    top: -24px;
    font-size: 1em;
}

.boardgameimage {
    display: inline-block;
    width: 131px;
    /* float: right; */
    position: relative;
    top: -25%;
    height: 194px;
    padding-top: 38px;
    z-index: 1;
}

img {
    width: 103%;
    display: block;
    float: right;
    height: 189px;
    border-radius: 3px;
    position: absolute;
    top: 18px;
    right: -5px;
}

.boardgamemechanics {
  font-family: Alegreya Sans;
    display: inline-block;
    font-size: 1em;
    position: relative;
    top: 3px;
    line-height: 18px;
}

h2.boardgamename {
  font-family: Lobster Two;
  display: inline-block;
  padding-left: 0.5em;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0px;
  position: relative;
  width: 70%;
  text-align: center;
}

article {
    border-radius: 2px;
    height: 151px;
    border-top: solid 1px grey;
    margin-bottom: 80px;
    margin-top: 34px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: rgba(150, 240, 109, 0.47);
    /* position: absolute; */
    /* z-index: 0; */
    width: 1000px;
    margin-left: 7%;
}


article:hover {
  filter: brightness(140%);
  transition-duration: 400ms;
  background-color: #f79d9f;
  top: 100px;
}

.even {
    float: left;
}

.odd {
    float: right;
}

button#submitbutton:hover {
    transform: scale(1.05);
    filter: brightness(115%);
}

.hidden {
  display: none;
}

canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
          }
