* {
    box-sizing: border-box;
    /* Disables text selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: rgb(255, 255, 255);
}

img.maintitle {
    background-size: contain;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
}


h1 {
    font-family: Libre Franklin;
    position: absolute;
    top: 86px;
    right: 0;
    left: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 500;
    font-size: 4em;
}

p.subtitle {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: Dosis;
    font-weight: 600;
}

li.boardgamemechanics {
    left: -39%;
}

.background {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100%;
}

form#boardgamesearch {
    z-index: 100;
    margin-top: 100px;
}

section {
    border: 1px solid grey;
    padding: 2%;
    border-radius: 9px;
    background-color: rgba(129, 255, 241, 0.52);
    margin-top: 2%;
}

form.search {
    text-align: center;
    margin-bottom: 2%;
    margin-top: 20px;
}

input[type="text"] {
    width: 30%;
    height: 50px;
    font-size: 15px;
    margin-left: 33%;
    padding-left: 10px;
    margin-top: 3em;
    margin-bottom: 4em;
    background-color: #dbffe6;
    border: none;
}

input#boardgameterm:placeholder-shown {
    border: rgb(88, 157, 67) 1px solid;
    color: black;
}

input#boardgameterm::-webkit-input-placeholder {
    color: #5a9a5a;
}

input#boardgameterm::-moz-placeholder { /* Firefox 19+ */
  color: #5a9a5a;
}

input#boardgameterm::-ms-input-placeholder { /* IE 10+ */
  color: #5a9a5a;
}

input#boardgameterm::-moz-placeholder { /* Firefox 18- */
  color: #5a9a5a;
}

button#submitbutton {
    outline: none;
    height: 1.0em;
    width: auto;
    height: 26px;
    margin-top: 3px;
    font-size: small;
    color: #106960;
    background-color: #d0e4f5;
    border: none;
    margin-left: 38px;
}


p.searchinstructions {
    text-align: center;
    position: relative;
    top: 90px;
    font-family: Antic Slab;
    font-size: 1.8em;
}

.playersandplaytime {
    font-family: Alegreya Sans;
    display: inline-block;
    width: 21%;
    position: relative;
    top: -38%;
    font-size: 1em;
    margin-left: 59px;
}

.boardgameimage {
    display: inline-block;
    width: 131px;
    /* float: right; */
    position: relative;
    top: -25%;
    height: 194px;
    padding-top: 38px;
    z-index: 1;
}

img.imagethumbnail {
    width: 103%;
    display: block;
    float: right;
    height: 189px;
    border-radius: 3px;
    position: absolute;
    top: 18px;
    right: -5px;
}

.boardgamemechanics {
    font-family: Alegreya Sans;
    display: inline-block;
    font-size: 1em;
    position: relative;
    top: 3px;
    height: 70%;
    width: 50%;
    left: 37px;
}

ul {
    margin: 0;
    /* list-style: none; */
    list-style-image: url("../images/boardgame_icon4.png");
}

h2.boardgamename {
    font-family: Lobster Two;
    display: inline-block;
    padding-left: 0.5em;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
    width: 70%;
    text-align: center;
}

article {
    border-radius: 2px;
    height: 151px;
    border-top: solid 1px grey;
    margin-bottom: 80px;
    margin-top: 34px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: rgba(235, 249, 255, 0.95);
    width: 90%;
    margin-left: 7%;
}

article:hover {
    filter: brightness(140%);
    transition-duration: 400ms;
    background-color: #f79d9f;
    top: 100px;
    cursor: pointer;
}

.even {
    float: left;
}

.odd {
    float: right;
}

button#submitbutton:hover {
    transform: scale(1.05);
    filter: brightness(115%);
}

button#submitbutton:active {
  filter: brightness(90%);
}

.hidden {
    display: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.loadingcontainer {
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    opacity: 0.8;
    background-color: rgba(250, 235, 215, 0.4);
}

img.loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border: 1px grey solid;
}
.lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1100;
    background-color: rgba(255, 255, 255, 0.90);
    overflow: scroll;
    text-align: center;
}

img.imagethumbnailLB {
    position: relative;
    width: 25%;
    padding: 11px;
    display: inline-block;
    text-align: center;
}

h2.boardgamenameLB {
    text-align: center;
    margin-top: 87px;
    font-family: Lobster Two;
    font-size: 5em;
}

.statsLB {
    margin-top: 3%;
    text-align: left;
    position: relative;
    margin-left: 40%;
    font-family: Alegreya sans-serif;
    font-size: 1.5em;
}

p {}

.description {
    font-family: Libre Franklin;
    font-size: 1.2em;
}
